{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".jsx"],
        "alias": {
          "components": "./components",
          "pages": "./pages",
          "routes": "./routes.js",
          "blocks": "./blocks",
          "hooks": "./hooks"
        }
      }
    ]
  ]
}
