.article {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  &__meta {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 20px;
  }

  &__image {
    max-width: 50px;
    border-radius: 50%;
  }

  &__date {
    color: gray;
    font-weight: lighter;
    font-size: 12px;
  }

  &__link {
    &_image {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      display: grid;
    }

    &_name {
      color: green;
      text-decoration-line: none;
      font-weight: bold;
    }
  }
}
