.top-bar {
  padding: 20px 0;

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
  }

  &__link {
    text-decoration-line: none;
    font-size: 24px;
    color: gray;
    text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 1);

    &_active {
      color: gray * 0.4;
    }

    &_logo {
      font-size: 36px;
      color: green;
    }
  }
}
